:root{
    --text-primary: #333333;
    --text-primary-transparent-50: #33333371;
    --link-hover: #E3955D;
    --bg-primary: #ffffff;
    --header-scroll-bg:hsl(90, 31%, 95%);
}

html{
    background-color: var(--bg-primary);
}

h1, h2, h3, h6, p{
    color: var(--text-primary);
}