:root{
    --text-primary: #333333;
    --text-primary-transparent-50: #33333371;
    --link-hover: #E3955D;
    --bg-primary: #ffffff;
    --bg-primary-dark: #131212;
    --header-scroll-bg: hsl(0, 0%, 100%);
    --header-scroll-bg-show: hsl(0, 0%, 100%);;
    --header-scroll-text: #333333;
    --header-scroll-bg-desktop: hsla(0, 0%, 100%, 0.705);
    --mobile-image-fullscreen-pic: hsla(0, 0%, 100%, 0.911);
    --border-primary: #333333;

    /** ---------------------- Primitives ----------------------*/
    --primary900: #131212;
    --primary800: #201f1f;  
    --primary700: #2d2c2c;
    --primary600: #333333;
    --primary500: #403f3f;
    --primary400: #525151;
    --primary300: #666565;
    --primary200: #807f7f;
    --primary100: #999898;

    --grey900: #333036;
    --grey800: #4D4950;  
    --grey700: #66616B;
    --grey600: #99949E;
    --grey500: #AFABB3;
    --grey400: #BFBCC2;
    --grey300: #CCC9CF;
    --grey200: #E5E4E7;
    --grey100: #F2F1F4;

    --accent900: #E3955D;
    --accent800: #E3955D;
    --accent700: #E3955D;
    --accent600: #E3955D;
    --accent500: #E3955D;
    --accent400: #E3955D;
    --accent300: #E3955D;
    --accent200: #E3955D;
    --accent100: #E3955D;

    --danger900: #7A1F1F;
    --danger800: #9B2727;
    --danger700: #C32222;
    --danger600: #CB1010;
    --danger500: #E51A1A;
    --danger400: #EA575E;
    --danger300: #FB838D;
    --danger200: #F4AFB7;
    --danger100: #F7D4DA;

    --white: #faf9fa;
    --black: #171515;

    /** ---------------------- Primitives END ----------------------*/

    /** ---------------------- Tokens ----------------------*/
    --text-body: var(--grey900);
    --text-body-invert: var(--grey100);
    --text-placeholder: var(--grey500);
    --text-link: var(--accent900);
    --text-link-hover: var(--accent600);
    --text-heading: var(--primary900);
    --text-heading-inverted: var(--grey100);
    --text-danger: var(--danger900);
    --text-danger-hover: var(--danger600);

    --surface-base: var(--white);
    --surface-base-invert: var(--black);

    --border-body: var(--grey800);
    --border-body-invert: var(--grey200);
}



html{
    background-color: var(--surface-base);
}

h1, h2, h3, h6, p{
    color: var(--text-primary);
}