@media only screen and (min-width: 1080px), only screen and (orientation: landscape) {

  .hero-container {
    flex-direction: row !important;
    position: relative;
  }


  .hero-flex1 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: var(--spacing-fluid-lg);
    align-items: flex-start;
    height: 100%;
    gap: var(--spacing-fluid-lg);
    /* background-color: aqua; */
  
    & .hero-flex1-container{
      max-width: 40%;
      /* background-color: aquamarine; */
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
  
      & h5{
        width: 70%;
      }
    }
  
    & img{
      max-width: 40%;
    }
  
    /* background-color: aquamarine; */
  }

  .hero-flex2 {
    position: absolute;
    z-index: 0;

    & .hero-flex2-image {
      background-position: left !important;
  
    }
  }

  .hero-flex1-selection{
    display: none !important;
  }

  .section2-header{
    display: flex;
    position: relative;
    flex-direction: row;
    gap: var(--spacing-fluid-md);
    align-items: flex-start;
    max-height: calc(8 * 1.4em);
  }
  
  .filler{
    height: calc(8 * 1.4em);
    width: calc(8 * 1.4em);
    overflow: hidden;
  
    border-top-left-radius: 20%;
  
    background-image: url('../assets/images/gradient1.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .section2-header-img-container{
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }

}

@media only screen and (min-width: 768px) {

  .hero-flex1 {
    justify-content: center !important;
  
    & .hero-flex1-container{
      max-width: 60% !important;
      flex-direction: row !important;
      align-items: flex-end !important;
    }
  
    & img{
      max-width: 60% !important;
    }
  }



  .sticky-toc{
    display: block !important;
    position: fixed !important;
    bottom: 0;
    right: var(--spacing-fluid-lg);
    align-items: end;
    
    & .sticky-toc-container{

      display: flex;
      flex-direction: column;
      align-items: flex-end;

      & .intro{
        /* background-color: aqua; */
        width: fit-content;
      }
    }
  }

  .toc-title{
    cursor: pointer;
    transition: transform 0.3s ease;
    
  }

  .toc-title:hover{
    transform: translateX(-10%) !important;
  }

  .section2-header{
    display: flex;
    position: relative;
    flex-direction: row;
    gap: var(--spacing-fluid-md);
    align-items: flex-start;
    max-height: calc(8 * 1.4em);
  }
  
  .filler{
    height: calc(8 * 1.4em) !important;
    width: calc(8 * 1.4em) !important;
    overflow: hidden !important;
  
  
    background-image: url('../assets/images/gradient1.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .section2-header-img-container{
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }

}

body{
  padding-left: var(--spacing-fluid-lg);
  padding-right: var(--spacing-fluid-lg);
}


/* ---------------------- LOADER ----------------------*/
        /* Loader styles */
        .loader {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 9999;
          transition: opacity 1s ease; /* Fade transition */
          opacity: 1; /* Initial opacity */
      }

      .loader.hidden {
          opacity: 0; /* Final opacity for fade-out */
          pointer-events: none; /* Prevent interaction during fade-out */
      }

      .loader-text {
          font-size: var(--h1-font-size);
          font-family: 'PPAcma', serif;
          letter-spacing: 0.1em;
          font-weight: bold;
          color: gray;
          position: relative;
          overflow: hidden;
      }

      .loader-text::after {
          content: 'ANGUS';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          color: black;
          background: black;
          overflow: hidden;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          animation: loading 2s linear forwards;
      }

      @keyframes loading {
          0% { width: 0; }
          100% { width: 100%; }
      }

/* ---------------------- SECTION 1 ----------------------*/

.section1 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hero-filler {
  width: 100%;
  /* background-color: beige; */
}

.hero-container {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  /* background-color: bisque; */
}

.hero-flex1 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  padding-top: var(--spacing-fluid-lg);
  align-items: flex-start;
  height: 100%;
  gap: var(--spacing-fluid-lg);
  /* background-color: aqua; */

  & .hero-flex1-container{
    max-width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--spacing-fluid-md);
    flex-direction: column;

    & h5{
      width: 70%;
    }
  }

  & img{
    max-width: 80%;
  }

  /* background-color: aquamarine; */
}



/* ---------------------- SECTION 1 END----------------------*/


/* ---------------------- SECTION 2 START----------------------*/

.section2{
  height: 100vh;
  max-width: 60%;
}

.section2-header{
  display: flex;
  position: relative;
  flex-direction: row;
  gap: var(--spacing-fluid-md);
  align-items: flex-start;
  max-height: calc(12 * 1.4em);
}



.section2-header-img-container{
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

/* ---------------------- SECTION 2 END ----------------------*/



/* ---------------------- SECTION 3 START----------------------*/

.section3{
  height: 100vh;
}

/* ---------------------- SECTION 3 END----------------------*/


/* ---------------------- SECTION 4 START----------------------*/

.section4{
  height: 100vh;
}

/* ---------------------- SECTION 4 END----------------------*/

.scroll-top-button{
  z-index: 10;
  
    position: fixed;
    bottom: 8px;
    right: 8px;  
  }


.sticky-toc{
  display: none;
}

.sticky-toc h2 {
  opacity: 1;
  /* display: none; */
  height: 0;
}
