@import 'base/typography.css';
@import 'base/colors.css';
@import 'base/theme.css';
@import 'base/sizes.css';

:root{
    --header-height: 15vh;
    --earth-x:20vw;
    --earth-y:-8vh;
    --hero-height: 68vh;
}

*{
    margin: 0;
    padding: 0;
    /* border 1px solid red to check position */
    /* border: red solid 1px; */
    box-sizing: border-box;
    /* global left and right padding */
}

/* Default styles for all screens */
html{
    font-size: 27px!important;
}

body{
    background-image: url(../assets/Images/image/LightBackGroundNoise.png);
    background-color: var(--theme-background);
    color: var(--theme-text);
    /* position: relative; */
}

h1, h2, h3, h4, h5, h6{
    color: var(--theme-text);
}


.temp{
    height: 100vh;
}


/* -------------------------Menu------------------------- */

.header1{
    position: sticky;
    height: 0;
    top: 0;
    z-index: 1;
}

#icon-name{
    font-weight: bold;
}

.header1-inner1{
    position: relative;
    height: var(--header-height);
    background-color: rgba(240, 248, 255, 0.923);
}

.inner-container1{
    
    /* used to auto layout better */
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    /* using rem instead of px for better xiguan */
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container{
    display: flex;
    align-items: center;
    gap: var(--1block);
    height: calc(var(--header-height)/2);
}

.icon-container img{
    height: calc(var(--header-height)/3);
}

#icon-name{
    letter-spacing: 0.5rem;
    font-weight: bolder;
}

.menu-bar-mobile{
    position: fixed;
    bottom: calc(var(--header-height)/2);
    left: 50%; /* Move to the middle horizontally */
    transform: translateX(-50%); /* Adjust to center horizontally */
    width: 10vw;
    height: 10vw;
}

.menu-bar-mobile .menu-bar-circle{
    width: 10vw;
    height: 10vw;
    border: 2px var(--theme-text) solid;
    border-radius: 50%;
    background-color: var(--theme-background);
    opacity: 0.8;
}

.menu-bar-line{
    position: absolute;
    top: 0;
    height: 10vw;
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-bar-mobile .menu-bar-line1{
    height: 2px;
    width: 4vw;
    background-color: var(--theme-text);
    transform: translateY(1vw);
}

.menu-bar-mobile .menu-bar-line2{
    height: 2px;
    width: 4vw;
    background-color: var(--theme-text);
    transform: translateY(-1vw);
} 

/* -------------------------Menu------------------------- */


/* -------------------------Hero------------------------- */
/* -------------------------Hero------------------------- */
/* -------------------------Hero------------------------- */

.hero1{
    /* position: relative; */
    height: calc(var(--hero-height) + var(--header-height));
    width: 100%;
    padding: 0 var(--4block);
}

.hero-main{
    /* height: calc(100vh - var(--header-height)); */
    padding-top: var(--header-height);
}

.hero1-upper-section{
    padding-top: var(--4block); 
}

.hero1 h6 span{
    color: var(--theme-primary);
}

.hero1-lower-section{
    display: flex;
}

.hero1-lower-section .left{
    max-width: 40%;
}

.hero1-lower-section .right{
    max-width: 60%;
    transform: translateY(var(--earth-y)) translateX(var(--earth-x));
}

.hero1-lower-section .right .earth{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    border: 3px solid var(--theme-text);
    background-image: url(../assets/Images/svg/world-map.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero1-lower-section .right .arrow{
    height: 20vw;
    width: 10vw;
    background-image: url(../assets/Images/svg/lensvoyagerArrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 16vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}


.hero1-lower-section .right p{
    text-align: right;
}


/* -------------------------Hero------------------------- */
/* -------------------------Hero------------------------- */
/* -------------------------Hero------------------------- */

/* -------------------------AboutMe------------------------- */
/* -------------------------AboutMe------------------------- */
/* -------------------------AboutMe------------------------- */

.aboutme{
    height: 30vh;
    display: flex;
    justify-content: space-between;
}

.aboutme .left{
    padding-top: var(--3block);
    padding-left: var(--4block);
    display: flex;
    flex-direction: column;
}

.aboutme h5{
    width: 20vw;
}

.aboutme .arrow{
    width: 20vw;
    min-height: 20vw;
    background-image: url(../assets/Images/svg/aboutmeArrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(var(--1block));
}

.aboutme .image{
    background-image:url(../assets/Images/image/aboutme.JPG);
    max-height:25vh;
    min-width: 70vw;
    background-repeat: no-repeat;
    background-size: contain;

}

/* -------------------------AboutMe------------------------- */
/* -------------------------AboutMe------------------------- */
/* -------------------------AboutMe------------------------- */

/* -------------------------MyWork------------------------- */
/* -------------------------MyWork------------------------- */
/* -------------------------MyWork------------------------- */

.mywork{
    height: 75vh;
}

.mywork h3{
    text-align: center;
}

.mywork .carousel{
    margin-top: var(--4block);
    margin-bottom: var(--3block);
    height: 50vh;
    display: flex;

}


.mywork .carousel div{
    width: 16vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7vh;
    /* justify-content: center; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .9;
}

.mywork .carousel div:nth-child(1){
    background-image: url(../assets/Images/image/1.JPG);
}

.mywork .carousel div:nth-child(2){
    background-image: url(../assets/Images/image/2.JPG);
}

.mywork .carousel div:nth-child(3){
    background-image: url(../assets/Images/image/3.JPG);
}

.mywork .carousel div h5{
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: var(--theme-background);
}

.show-project{
    width: 100%!important;
    gap: calc(var(--5block) + 2vh);
}

.show-project h5{
    letter-spacing: .5rem;
    height: auto;
    writing-mode:horizontal-tb!important;
    text-orientation:sideways!important;
}

.show-project p{
    color: var(--theme-background);
    width: 15rem;
    line-height: 2.5rem;
    font-weight: 100!important;
    text-align: center;
}




/* -------------------------MyWork------------------------- */
/* -------------------------MyWork------------------------- */
/* -------------------------MyWork------------------------- */


/* ---------------------Media Queries--------------------- */
/* ---------------------Media Queries--------------------- */
/* ---------------------Media Queries--------------------- */


/* Tablet */
@media screen and (min-width:820px){

html{
    font-size: 21px;
}

}

/* Desktop small */
@media screen and (min-width:1280px){
    
    html{
        font-size: 21px;
    }
}