@media only screen and (min-width: 1080px) {


}

@media only screen and (min-width: 768px) {


}



.about1 {
  /* background-color: aqua; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  & .transparent-box {
    height: 80%;
    width: 80%;
    position: absolute;
    background-color: rgba(0, 255, 255, 0);
    z-index: 1;
  }

}


.scroll-top-button{
  z-index: 10;
  
    position: fixed;
    bottom: 8px;
    right: 8px;  
  }