@media only screen and (min-width: 1080px) {

}

@media only screen and (min-width: 768px) {
}


.hero-selector {
  display: flex;
  gap: var(--ultimate-padding);
  align-items: center;
  justify-content: center;
  padding-bottom: var(--ultimate-padding);
}

.image-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--ultimate-padding);
}
