<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Angus Tan</title>

    <link rel="icon" href="/assets/images/AutumnLeaf.gif" />
    <link href="/css/base.css" type="text/css" rel="stylesheet" />
    <link href="./index.css" type="text/css" rel="stylesheet" />
    <script
      type="module"
      src="https://unpkg.com/@splinetool/viewer@1.6.9/build/spline-viewer.js"
    ></script>
  </head>
  <body>
    <scroll-top-button class="scroll-top-button"></scroll-top-button>
    <header-custom title="ANGUS"></header-custom>

    <div class="filler"></div>
    
    <map-js></map-js>
    
    
    <!-- Selector -->
    <div id="photo-category" class="hero-selector"></div>
    <div id="photo-category-sub" class="hero-selector"></div>
    
    <div class="image-gallery"></div>

    <!-- Full screen image -->
    <div id="mobile-image-fullscreen" class="mobile-image-full">

      <div id="mobile-image-fullscreen-pic" class="image-card-img">
      </div>
      <div id="mobile-image-fullscreen-info"></div>

      <div>
        <h1 class="info-h1">AT</h1>
      </div>

    </div>
    


    <footer-custom></footer-custom>
  </body>

  <script type="module">
    import "/components/header/index.js";
    import "/components/footer/index.js";
    import "/components/button/PlopButton/index.js";
    import "/components/card/ImageCard/index.js";
    import "/components/button/ScrollTopButton/index.js"

    import globalContext from "/datas/globalContext.js";
    import {
      elementIsInViewPort,
      debounce,
    } from "/js/IntersectionObserver/vi.js";
    import CategoryChooser from "/js/CategoryChooser/categoryChooser.js";

    // Import Map Module\
    import "/components/mapJS/index.js"

    const filler = document.querySelector(".filler");
    const footer = document.querySelector("footer-custom");

    const photoCategory = document.querySelector("#photo-category");
    const photoCategorySub = document.querySelector("#photo-category-sub");
    const imageGallery = document.querySelector(".image-gallery");

    const mobileImageFullScreen = document.querySelector("#mobile-image-fullscreen")
    const mobileImageFullScreenPic = document.querySelector("#mobile-image-fullscreen-pic")
    const mobileImageFullScreenInfo = document.querySelector("#mobile-image-fullscreen-info")

    let previousSelectedCategory = "";
    let previousSelectedSubCategory = "";

    // set time out
    setTimeout(() => {
      setHeaderHeight();
    }, 500)

    // height change listener
    globalContext.headerHeight.subscribe(() => {
      setHeaderHeight(globalContext.headerHeight.getState().height);
    });

    // for province only
    // listen to selected province to rerender the image list
    globalContext.selectedProvince.subscribe(() => {
      console.log(globalContext.selectedProvince.getState().province);
      readImageJSON(
        "province",
        globalContext.selectedProvince.getState().province
      )
        .then((data) =>
          renderImage(data, globalContext.selectedProvince.getState().province)
        )
        .catch((error) => renderNoImage());

      if (previousSelectedCategory != "") {
        let itemPre = `#category-${previousSelectedCategory}`;
        let pre = document
          .querySelector(itemPre)
          .shadowRoot.querySelector(".container");
        pre.classList.remove("plop-button-selected");
      }
      if (previousSelectedSubCategory != "") {
        try {
          let pre = document
            .querySelector(`#${previousSelectedSubCategory}`)
            .shadowRoot.querySelector(".container");
          pre.classList.remove("plop-button-selected");
        } catch {}
      }
    });

    globalContext.selectedCategory.subscribe(() => {
      // toggle color
      let currentSelected = globalContext.selectedCategory.getState().category;

      let item = `#category-${currentSelected}`;
      let cur = document
        .querySelector(item)
        .shadowRoot.querySelector(".container");
      cur.classList.add("plop-button-selected");

      if (previousSelectedCategory != "") {
        let itemPre = `#category-${previousSelectedCategory}`;
        let pre = document
          .querySelector(itemPre)
          .shadowRoot.querySelector(".container");
        pre.classList.remove("plop-button-selected");
      }

      // render it
      let subChooser = new CategoryChooser(
        "/datas/photography.json",
        globalContext.selectedCategory.getState().category,
        photoCategorySub
      );
      previousSelectedCategory = currentSelected;
    });

    // For others than province
    globalContext.selectedSubCategory.subscribe(() => {
      let currentSelected =
        globalContext.selectedSubCategory.getState().subCategory;

      console.log("Current: " + currentSelected);
      console.log("Previous: " + previousSelectedSubCategory);

      let splitCur = currentSelected.split("-");

      readImageJSON(splitCur[0], splitCur[1])
        .then((data) => renderImage(data, splitCur[1]))
        .catch((error) => renderNoImage());

      let cur = document
        .querySelector(`#${currentSelected}`)
        .shadowRoot.querySelector(".container");
      cur.classList.add("plop-button-selected");

      if (previousSelectedSubCategory != "") {
        try {
          let pre = document
            .querySelector(`#${previousSelectedSubCategory}`)
            .shadowRoot.querySelector(".container");
          pre.classList.remove("plop-button-selected");
        } catch {}
      }

      previousSelectedSubCategory = currentSelected;
    });

    window.addEventListener("scroll", debounce(checkItemInView, 100));

    document.addEventListener("DOMContentLoaded", () => {
      // load first category chooser
      let mainChooser = new CategoryChooser(
        "/datas/photography.json",
        "category",
        photoCategory
      );
    });

    mobileImageFullScreen.addEventListener('click', () => {
      mobileImageFullScreen.classList.remove('show')
    })

    mobileImageFullScreenPic.addEventListener('click', (e) => {
      e.stopPropagation();
      console.log("Clicked on image");
    })

    mobileImageFullScreenInfo.addEventListener('click', (e) => {
      e.stopPropagation();
      console.log("Clicked on info")
    })

    function setHeaderHeight(height) {
      filler.style.height = `${height}px`;
    }

    function checkItemInView() {
      // Check footer
      if (elementIsInViewPort(footer, 20)) {
        footer.shadowRoot
          .querySelector(".footer")
          .classList.add("outer-container-show");
      }
    }

    async function readImageJSON(type, name) {
      let jsonFilePath = "/datas/";

      if (type == "province") {
        let country = globalContext.selectedCountry.getState().country;

        jsonFilePath += `Countries/${country}/${name}.json`;
      } else {
        jsonFilePath += `${type}/${name}.json`;
      }

      try {
        const response = await fetch(jsonFilePath);
        const data = await response.json();
        return data;
      } catch (error) {
        console.error("Fetch error");
        throw error;
      }
    }

    function renderImage(jsonData, title) {
      let imagePath = jsonData.image_root_path;

      let wholeHTML = `<h2>${title}</h2>`;

      jsonData.images.forEach((image) => {
        let path = imagePath + image.url + ".avif";

        let imgDict = {
          title: image.title,
          url: path,
          description: image.description,
          location: image.location,
          date: image.date,
          tags: image.tags,
        };

        let imgDictString = JSON.stringify(imgDict);

        let innerHTML = `
          <image-card-custom 
            imgDict = ${imgDictString}
          >
          </image-card-custom>
        `;

        wholeHTML += innerHTML;
      });

      imageGallery.innerHTML = wholeHTML;

      lazyLoad();
      snapToView();
    }

    function renderNoImage() {
      let wholeHTML = `
        <image-card-custom 
          title = "Whoops"
          url = "/assets/images/angus.avif"
          description = "nothing yet"
          location = "NoWhere"
          date = "2024/7/5"
          tags = ""
        >
        </image-card-custom>
      `;
    }

    function lazyLoad() {}

    function snapToView() {
      setTimeout(() => {
        photoCategory.scrollIntoView({ behavior: "smooth" });
      }, 200);
    }
  </script>
</html>
