/* Colors */
:root{
    --light-theme-bg:#EBE9F0;
    --light-theme-primary: #5F8670;
    --light-theme-primary-trans: #5f86709e;
    --light-theme-accent:#958AAE;
    --light-theme-accent-trans:#958aae9d;
    --light-theme-accent-hover: #585264;
    --light-theme-accent-hover-trans: #585264a8;
    --light-theme-text: #222831;

    --dark-theme-bg:#222831;
    --dark-theme-primary: #A27B5C;
    --dark-theme-primary-trans: #a27b5cd3;
    --dark-theme-accent:#5D99A3;
    --dark-theme-accent-trans:#5d98a3c0;
    --dark-theme-accent-hover: #266c78;
    --dark-theme-accent-hover-trans: #266c78bb;
    --dark-theme-text: #E5E4CC;

    --dark100:#150D26;
    --dark80: #150d26ce;
    --dark60:#150d269f;
    --dark40:#150d2664;
    --dark20:#150d2630;

    --light100: #B0A7C2;
    --light80: #C4BDD1;
    --light60: #D7D3E1;
    --light40: #EBE9F0;
    --light20: #FFFFFF;

    --positive: #5F8670;
    --warning: #FF9800;
    --error: #B80000;
    --informative: #3887BE;
}
