/* Light Theme */
:root{
    --theme-background: #EBE9F0;
    --theme-text: #222831;
    --theme-primary: #5f86709e;
    --theme-accent:#150d2664;
    --theme-accent-hover:#150d269f;
    --theme-about-me-pic:url("../../Images/image/me2.png");
    --theme-button-color:#222831;
}

.dark-theme{
    --theme-background:#222831 ;
    --theme-text: #E5E4CC;
    --theme-primary: #A27B5C;
    --theme-accent:#5D99A3;
    --theme-accent-hover:#266C78;
    --theme-about-me-pic:url('../../Images/image/me.png');
    --theme-button-color:#EBE9F0;
}

