@media only screen and (min-width:1080px) {
  
}

@media only screen and (min-width:768px) {
  p{
    font-size: 12px !important;
    font-family: 'IBMPlexMono', sans-serif !important;
    color: var(--text-primary) !important;
   }
}

.title {
  cursor: pointer;
}

@keyframes titleIn {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(10deg);
  }
}

@keyframes titleOut {
  from {
    transform: rotate(10deg);
  }

  to {
    transform: rotate(0deg); /* End state: back to normal rotation */
  }
}

p{
  font-size: var(--h5-font-size);
  font-family: 'IBMPlexMono', sans-serif;
  color: var(--header-scroll-text) !important;
}

.title:hover {
  animation-name: titleIn;
  animation-duration: 0.3s;
  animation-fill-mode: forwards; 
  color:var(--link-hover);
}

.title:not(:hover){
    animation-name: titleOut;
    animation-duration: 0.3s;
    animation-fill-mode: forwards; 
}


.current-page{
  color: #EF5A6F !important;
  font-size: x-large;
}